include LICENSE
include README.md
include CONTRIBUTING.md
include CODE_OF_CONDUCT.md
graft docs
graft data
graft scripts
graft tests
exclude korpus_clean_final.xlsx
global-exclude __pycache__ *.py[cod]
